.card-courses{
   margin-bottom: 190px;
}

.card-log{
    width: 100%;
    background-color: #21212185;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.img-logo{
    height: 70px;
    margin-right: 70px;
}